* {
	padding: 0;
	margin: 0;
	border-style: border-box;
	scroll-behavior: smooth;
}

header,
main,
footer {
	font-family: sans-serif;
	padding: 1rem;
	margin: 1rem;
}

a {
	text-decoration: none !important;
	color: black !important;
	transition: all 0.1s ease-in !important;
}

a:hover {
	color: orange !important;
}

ul {
	list-style-type: none !important;
}

/* Home */

header {
	display: flex !important;
	justify-content: center !important;
}

.heading {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	width: 50%;
	margin: 0;
	padding: 2rem;
	border: solid;
}

.heading h1 {
	font-size: 64px;
	text-align: center;
}

.heading p {
	display: flex;
	font-size: 40px;
	justify-content: center;
	align-items: center;
}

.heading .button {
	display: flex;
	padding: 0.7rem;
	margin: 0.7rem;
	background-color: orange;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	font-size: 24px;
	border: none;
	width: 10rem;
	transition: all 0.7s;
	cursor: pointer;
}

.heading .button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.7s;
}

.heading .button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -0.5rem;
	transition: 0.7s;
}

.heading .button:hover span {
	padding-right: 2.1rem;
}

.heading .button:hover span:after {
	opacity: 1;
	right: 0;
}

/* Main */

main {
	display: flex !important;
}

.about {
	display: flex;
	flex-direction: column;
	flex-flow: column;
	flex-wrap: wrap;
	padding: 1rem;
	padding-top: 5rem;
}
.about .about-heading > h2 {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.about .about-heading > p {
	margin-bottom: 2rem;
	margin-right: 1rem;
}

.about .navigation {
	display: flex;
	flex-wrap: wrap;
	margin-top: 1rem;
}

.about .navigation .navigation-link .button {
	display: flex;
	padding-top: 0.7rem;
	padding-bottom: 0.7rem;
	margin-right: 2rem;
	margin-top: 1rem;
	background-color: orange;
	align-items: center;
	justify-content: center;
	border-radius: 0;
	font-size: 16px;
	border: none;
	width: 8rem;
	transition: all 0.5s !important;
	cursor: pointer;
}

.about .navigation .navigation-link .button > span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.7s;
}

.about .navigation .navigation-link .button span:after {
	position: absolute;
	opacity: 1;
	top: 0;
	transition: 0.7s;
}

.about .navigation .navigation-link .button:hover {
	transform: translate(5%, 5%);
}

.about .navigation .navigation-link .button:hover span {
	opacity: 1;
}

.about .navigation .navigation-link .button:after {
	transform: translate(-5%, -5%);
}

.about .navigation .navigation-link .button:after span:after {
	opacity: 1;
}

.language-icons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	margin-left: 10rem;
	margin-top: 3rem;
	flex-flow: row;
	flex-wrap: wrap;
	width: 30rem;
}

.language-icons .prog-icon {
	height: 128px;
	width: 128px;
	margin-top: 1rem;
	margin-left: 1rem;
}

.language-icons .prog-icon:hover {
	transform: rotate(360deg);
}
/* Footer */

.contact {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.contact > h3 {
	grid-column: 1;
	grid-row: 1;
}

.contact .social-list {
	grid-column: 2;
	grid-row: 2;
}

.contact .social-list > ul > li {
	margin: 0.5rem 0;
}

.contact .footer-navigation {
	grid-column: 3;
	grid-row: 2;
}

.contact .footer-navigation > ul > li {
	margin: 0.5rem 0;
	font-size: 12px;
}

.contact > p {
	position: relative;
	top: 60%;
	text-align: center;
	grid-row: 3;
	grid-column: 2;
	text-decoration: underline;
}

/* Icons */

.instagram,
.github,
.linkedIn {
	height: 24px;
	width: 24px;
	transition: all 0.7s;
}

.instagram:hover,
.github:hover,
.linkedIn:hover {
	cursor: pointer;
	transform: translate(10%, 10%);
}

.instagram:hover:after,
.github:hover:after,
.linkedIn:hover:after {
	transform: translate(-10%, -10%);
}
