header,
main,
footer {
	font-family: sans-serif;
	padding: 1rem;
	margin: 1rem;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
}

.heading {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 0;
	margin-top: 5rem;
	padding: 2rem;
	padding-left: calc(100vw - 90%);
	padding-right: calc(100vw - 90%);

	border: 0.2rem solid;
	justify-content: center;
	align-items: center;
}

.heading h2 {
	font-size: 64px;
	text-align: center;
}

.heading p {
	display: flex;
	font-size: 40px;
	justify-content: center;
	align-items: center;
}

.heading .button {
	display: flex;
	padding: 0.7rem;
	margin: 0.7rem;
	background-color: orange;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	font-size: 24px;
	border: none;
	width: 10rem;
	transition: all 0.7s;
	cursor: pointer;
}

.heading .button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.7s;
}

.heading .button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -0.5rem;
	transition: 0.7s;
}

.heading .button:hover span {
	padding-right: 2.1rem;
}

.heading .button:hover span:after {
	opacity: 1;
	right: 0;
}
