.navbar {
	display: flex;
	justify-content: center;
}

main {
	display: flex;
	justify-content: center;
}

.form-heading {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
	padding-bottom: 2rem;
}

.form-style {
	border: solid;
	padding: 3rem 5rem 3rem 5rem;
}

.form-msg {
	width: 100%;
}

.form-button {
	margin: 1rem;
	height: 2.5rem;
	width: 8rem;
	margin-left: 2.4rem;
}

.submit-succ-msg {
	display: flex;
	justify-content: center;
	color: green;
}

.submit-err-msg {
	display: flex;
	justify-content: center;
	color: red;
}
