@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

* {
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
	font-family: 'Karla', sans-serif;
	list-style-type: none;
}

a {
	text-decoration: none !important;
	transition: all 0.1s ease-in !important;
}

a:hover {
	color: black !important;
}

@media only screen and (min-width: 768px) {
	.heading h1 {
		font-size: 64px !important;
		text-align: center !important;
	}
	.heading p {
		display: flex !important;
		font-size: 40px !important;
		text-align: center !important;
	}

	.form-container {
		margin-top: 15%;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
	}

	.about p {
		margin-top: 5rem;
		width: 40rem !important;
	}

	.tests {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		flex-direction: row;
		margin-left: 10rem;
		margin-right: 10rem;
	}
}

@media only screen and (min-width: 600px) {
	.heading h1 {
		font-size: 64px !important;
		text-align: center !important;
	}
	.heading p {
		display: flex !important;
		font-size: 40px !important;
		text-align: center !important;
	}

	.form-container {
		margin-top: 15%;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
}

/*Form*/
.form-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 10%;
	background-color: rgba(0, 0, 0, 0.1) !important;
}

.form-design {
	background-color: rgba(0, 0, 0, 0.05);
	height: auto;
}

.contact-design {
	background-color: rgb(255, 238, 205);
}

.form-container form .button {
	display: flex;

	justify-content: center;
	align-content: center;
	width: 10rem;
	height: 2rem;
}

.form-msg {
	width: 100% !important;
}
.form-email {
	width: 100% !important;
}
.form-name {
	width: 100% !important;
}

.form-button {
	margin: 1rem;
	height: 2.5rem;
	width: 8rem;
	border-style: none;
	transition: all 0.5s ease;
	background-color: orange;
}

.form-button:hover {
	background-color: white;
	color: darkorange;
}

.con-span {
	color: darkorange;
}

/* Home */

.header {
	background-image: url(./assets/img/coffee-cup-yellow.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: auto;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.heading {
	display: flex;
	flex-wrap: wrap;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	margin: 5rem;
	padding: 2rem;
	border: 5px solid white;
	border-radius: 2px;
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	font-weight: 500;
}

.heading h1 {
	font-size: 32px;
	font-weight: 500;
	text-align: center;
}

.heading p {
	font-size: 24px;
	text-align: center;
}

.heading .button {
	display: flex;
	padding: 0.7rem;
	margin: 0.7rem;
	color: darkorange !important;
	background-color: white;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	font-size: 24px;
	border: none;
	border-radius: 2px !important;
	width: 10rem;
	transition: all 0.7s;
	cursor: pointer;
	overflow: hidden;
}

.heading .button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.7s;
}

.heading .button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -0.5rem;
	transition: 0.7s;
}

.heading .button:hover span {
	padding-right: 2.1rem;
}

.heading .button:hover span:after {
	opacity: 1;
	right: 0;
}

/* Main */

.about {
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
	flex-flow: column;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 3rem;
	height: auto;
	width: 100%;
}

.about .about-heading > p {
	margin-bottom: 1rem;
}

.about .navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.about .navigation .navigation-link .button {
	display: flex;
	padding-top: 0.7rem;
	padding-bottom: 0.7rem;
	margin: 1rem;
	background-color: orange;
	align-items: center;
	justify-content: center;
	border-radius: 2px;
	font-size: 16px;
	border: none;
	width: 8rem;
	transition: all 0.5s !important;
	cursor: pointer;
}

.about .navigation .navigation-link .button > span {
	cursor: pointer !important;
	display: inline-block !important;
	position: relative !important;
	transition: 0.7s !important;
}

.about .navigation .navigation-link .button span:after {
	position: absolute !important;
	opacity: 1 !important;
	top: 0 !important;
	transition: 0.7s !important;
}

.about .navigation .navigation-link .button:hover {
	transform: translate(5%, 5%) !important;
}

.about .navigation .navigation-link .button:hover span {
	opacity: 1 !important;
}

.about .navigation .navigation-link .button span {
	color: black;
}

.about .navigation .navigation-link .button:after {
	transform: translate(-5%, -5%) !important;
}

.about .navigation .navigation-link .button:after span:after {
	opacity: 1 !important;
}

.language-icons {
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	flex-direction: column;
	flex-flow: row;
	flex-wrap: wrap;
	margin-top: 3rem;
	overflow: hidden;
}

.language-icons .prog-icon {
	height: 96px;
	width: 96px;
	margin: 2rem;
	transition: transform 0.3s;
}

.language-icons .prog-icon:hover {
	transform: rotate(360deg) !important;
}
/* Footer */

.contact {
	height: 30vh;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	background-color: rgba(0, 0, 0, 0.05);
}

.contact-section > h3 {
	margin-bottom: 0;
	background-color: rgba(0, 0, 0, 0.05);
	margin-top: 5rem;
	padding-top: 3rem;
	display: flex;
	justify-content: center;
	text-align: center;
	color: darkorange;
}

.contact .social-list {
	grid-column: 1;
	grid-row: 2;
	text-align: center;
}

.contact .social-list > ul > li {
	margin: 0.5rem 0;
}

.contact .footer-navigation {
	grid-column: 2;
	grid-row: 2;
	text-align: center;
}

.contact .footer-navigation ul li a {
	margin: 0.5rem 0;
	font-size: 12px;
	color: black;
}

.contact .footer-navigation ul li a:hover {
	color: darkorange !important;
}

.contact-section > p {
	display: flex;
	justify-content: center;
	text-align: center;
	font-weight: 100;
	font-size: 12px;
	height: 1rem;
}

/* Icons */

.instagram,
.github,
.linkedIn {
	height: 24px;
	width: 24px;
	transition: all 0.7s;
}

.instagram:hover,
.github:hover,
.linkedIn:hover {
	cursor: pointer;
	transform: translate(10%, 10%);
}

.instagram:hover:after,
.github:hover:after,
.linkedIn:hover:after {
	transform: translate(-10%, -10%);
}

/*testimonial*/

.test {
	margin-top: 5rem;
	margin-bottom: 5rem;
	text-align: center;
}

.tests {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
}

.test-header {
	background: orangered;
	color: white;
}

.test-body {
	background-color: rgba(0, 0, 0, 0.05);
	color: darkblue;
}

/*Project - card*/

.projects {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 2rem;
	flex-direction: column;
	background-color: rgb(255, 238, 205);
	color: black;
}

.project-card {
	width: 196px;
	height: 196px;
}

.card-style {
	width: 18rem;
	box-shadow: 5px grey;
}

.card-titled {
	color: brown;
}

.projects span {
	color: brown;
}

.project-head {
	margin-top: 5rem;
	margin-bottom: 2rem;
	text-align: center;
}

.project-head h1 {
	margin-bottom: 2rem;
}

.project-page {
	background-color: orange;
}

.link-card:hover {
	color: orange !important;
}

/*resume*/

.bold {
	font-weight: 700;
	font-size: 20px;
	text-transform: uppercase;
}

.semi-bold {
	font-weight: 500;
	font-size: 16px;
}

.resume {
	position: relative;
	width: 800px;
	height: auto;
	display: flex;
	margin: 50px;
}

.resume .resume-left {
	width: 280px;
	background: orange;
}

.resume .resume-left .resume-profile {
	width: 100%;
	height: 280px;
}

.resume .resume-left .resume-content {
	padding: 35px;
}

.resume .resume-left .bold {
	color: #fff;
}

.resume .resume-left .regular {
	color: black;
}

.resume .resume-item {
	padding: 25px 0;
	border-bottom: 2px solid white;
}

.resume .resume-left .resume-item:last-child {
	border-bottom: 0px;
}

.resume .resume-left ul li {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.resume .resume-left ul li:last-child {
	margin-bottom: 0;
}

.resume .resume-left ul li .icon {
	width: 35px;
	height: 35px;
	background: #fff;
	color: black;
	border-radius: 50%;
	margin-right: 15px;
	font-size: 16px;
	position: relative;
}

.resume .icon .icon-obj,
.resume .resume-right .resume-hobby ul li .icon-obj {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.resume .resume-left ul li .data {
	color: white;
}

.resume .resume-left .resume-skills ul li {
	color: white;
	justify-content: space-between;
}

.resume .resume-left .resume-skills ul li .skill-name {
	width: 25%;
}

.resume .resume-left .resume-skills ul li .skill-progress {
	width: 60%;
	margin: 0 5px;
	height: 5px;
	background: lightgray;
	position: relative;
}

.resume .resume-left .resume-skills ul li .skill-per {
	width: 15%;
}

.resume .resume-left .resume-skills ul li .skill-progress span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: #fff;
}

.resume .resume-right {
	width: 520px;
	background: lightgray;
	padding: 25px;
}

.resume .resume-right .bold {
	color: black;
}

.resume .resume-right .resume-work ul,
.resume .resume-right .resume-education ul {
	padding-left: 40px;
	overflow: hidden;
}

.resume .resume-right ul li {
	position: relative;
}

.resume .resume-right ul li .date {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 15px;
}

.resume .resume-right ul li .info {
	margin-bottom: 20px;
}

.resume .resume-right ul li:last-child .info {
	margin-bottom: 0px;
}

.resume .resume-right .resume-work ul li:before,
.resume .resume-right .resume-education ul li:before {
	content: '';
	position: absolute;
	top: 5px;
	left: -25px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
}

.resume .resume-right .resume-work ul li:after,
.resume .resume-right .resume-education ul li:after {
	content: '';
	position: absolute;
	top: 14px;
	left: -21px;
	width: 2px;
	height: 115px;
	border-radius: 50%;
	border: 2px solid orangered;
}

.resume .resume-right .resume-hobby ul {
	display: flex;
	justify-content: space-between;
}

.resume .resume-right .resume-hobby ul li {
	width: 80px;
	height: 80px;
	border: 2px solid orangered;
	border-radius: 50%;
	position: relative;
	color: orange;
}

.resume .resume-right .resume-hobby ul li {
	font-size: 30px;
}

.resume .resume-right .resume-hobby ul li:before {
	content: '';
	position: absolute;
	top: 40px;
	right: -52px;
	width: 50%;
	width: 50px;
	height: 2px;
	background: orangered;
}

.resume .resume-right .resume-hobby ul li:last-child::before {
	display: none;
}

.resume-layout {
	padding: 0;
	margin: 0;
	background-size: cover;
	background-repeat: no-repeat;
	height: 220vh;
	width: 100%;
}

.semi-bold {
	font-weight: 700;
	color: brown;
}
